* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

:root {
  --background-color: #dedede;
  --navbar-color: #f5f5f7;
  --icons: #777;
  --text-color: #555;
  --text-card: #f5f5f7;
  --description: #777;
  --button-color: #222;
  --circle-picture: #04d134;
  --circle-group-users: #c49ceb;
  --card-background: #f5f5f7;
  --card-color: #444444;
  --task-background: #dedede;
  --task-header: #ad4ae2;
  --task-in-progress: #5052e3;
  --task-delivered: #50a8e3;
  --task-revision: #50e3a6;
  --task-done: #e3c350;
  --tag-new: #50e361;
  --tag-progress: #50a1e3;
  --tag-delivered: #50a1e3;
  --tag-review: #e3d750;
  --tag-reviewing: #e35050;
  --tag-done: #5a50e3;
  --dropdown-hover: #333333;
}

body {
  background: var(--background-color);
}

i {
  color: var(--icons);
  font-size: 1.4rem;
  transition: 0.4s;
}

i:hover {
  color: #8648f1;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1.5rem;
  background-color: var(--navbar-color);
  border-bottom: 1px solid var(--icons);
}

#header h2 {
  color: var(--text-color);
  font-size: 1.5rem;
  cursor: pointer;
}

#header span {
  color: #8648f1;
}

#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#first-bar-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#second-bar-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#second-bar-items h4 {
  color: var(--text-color);
}

.mode-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mode-toggle button {
  background-color: transparent;
  border: none;
}

.mode-toggle i {
  color: var(--button-color);
  cursor: pointer;
  font-size: 26px;
}

.light-mode {
  --background-color: #2e2e2e;
  --navbar-color: #111;
  --icons: #777;
  --text-color: #888;
  --text-card: #f5f5f7;
  --button-color: #fff;
  --card-background: #111;
  --task-background: #2e2e2e;
}

#kanban-container {
  width: 100%;
  max-width: 90vw;
  max-height: 90vh;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.kanban-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.card {
  flex: 1;
  min-width: 200px;
  background-color: var(--card-background);
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.card {
  /* Limitando altura e ativando rolagem interna */
  height: 80vh;
  overflow-y: auto; /* Ativa rolagem interna nas tarefas */
  scrollbar-width: none; /* Oculta a barra de rolagem no Firefox */
}

.card::-webkit-scrollbar {
  display: none; /* Oculta a barra de rolagem no Chrome e Safari */
}

/* Título dentro dos cards */
.card h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-card);
  padding: 12px;
  border-radius: 15px 15px 0 0;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 10; /* Mantém o título acima das tarefas */
}

/* Estilos para os títulos dos containers */
/* Estilizando cada fase */
.task-header {
  background-color: var(--task-header);
} /* Azul */
.in-progress-header {
  background-color: var(--task-in-progress);
} /* Azul claro */
.delivered-header {
  background-color: var(--task-delivered);
} /* Verde claro */
.revision-header {
  background-color: var(--task-revision);
} /* Verde */
.completed-header {
  background-color: var(--task-done);
} /* Amarelo */

/* Área interna das tarefas */
.task {
  background-color: var(--task-background);
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
  transform: translateZ(0); /* Corrige renderização no arrasto */
}

.task h4 {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 5px;
}

.task .description {
  width: 100%;
  font-size: 0.9rem;
  color: var(--description);
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tag-users {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Tags de status */
.tag {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
}

/* Cores das tags */
.tag.new {
  background-color: var(--tag-new);
  color: var(--text-card);
}

.tag.progress {
  background-color: var(--tag-progress);
  color: var(--text-card);
}

.tag.delivered {
  background-color: var(--tag-delivered);
  color: var(--text-card);
}

.tag.review {
  background-color: var(--tag-review);
  color: var(--text-card);
}

.tag.reviewing {
  background-color: var(--tag-reviewing);
  color: var(--text-card);
}

.tag.done {
  background-color: var(--tag-done);
  color: var(--text-card);
}

.hidden {
  display: none;
}

.assigned-users {
  display: flex;
  justify-content: flex-end;
  gap: 3px;
}

.container-img-task {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--circle-picture);
  cursor: pointer;
}

.container-img-task img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.date-details {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.date-details .date {
  font-size: 0.7rem;
  margin-top: 10px;
  color: var(--description);
}

.details {
  font-size: 1.2rem;
  color: var(--description);
  cursor: pointer;
}

.task.dragging {
  border-radius: 8px; /* Mantém as bordas arredondadas ao arrastar */
  transform: translateZ(0); /* Força renderização correta */
}

.task.expanded {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 600px;
  background: var(--background-color);
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
}

.task.expanded h4 {
  font-size: 24px; /* Aumenta o tamanho do título para destaque */
  font-weight: bold;
}

.task.expanded .description {
  white-space: normal; /* Permite quebras de linha quando expandido */
  text-overflow: unset; /* Remove o "..." no modo expandido */
  word-wrap: break-word; /* Força a quebra de palavras longas */
  overflow: visible; /* Faz o texto ocupar todo o espaço disponível */
  margin-bottom: 30px;
}

.task.expanded .details {
  display: none;
}

.task.expanded .tag {
  font-size: 1rem;
}

.task.expanded .container-img-task {
  width: 40px;
  height: 40px;
}

.task .close-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  display: none; /* Ícone só aparece quando o card for expandido */
}

.task.expanded .close-icon {
  display: block; /* Exibe o botão de fechar */
  color: var(--text-color);
}

/* Página Login */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(180deg, #070707 0%, #4908ba 100%);
}

#container {
  background-color: #fff;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  gap: 40px;
}

#container h2 {
  font-size: 2rem;
}

#container span {
  color: #4908ba;
}

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#form-container input {
  width: 300px;
  font-size: 0.9rem;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #aaa;
  padding: 0.6rem 0;
  transition: 0.4s;
}

#form-container input:focus {
  border: none;
  border-bottom: 1px solid #4908ba;
  outline: none; /* Remove o contorno padrão */
}

#form-container label {
  display: none;
}

#form-container button {
  font-size: 1rem;
  width: 300px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #4908ba;
  color: #fff;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.4s;
}

#form-container button:hover {
  opacity: 1;
}

.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  display: flex;
}

.modal-content {
  background: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  height: 460px;
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content h2 {
  font-size: 1.6rem;
  margin-bottom: 20px;
  color: var(--text-color);
}

#closeModal {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  color: var(--text-color);
}

#taskForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#taskForm label {
  font-size: 0.9rem;
  color: var(--text-color);
}

#taskForm input,
textarea {
  width: 300px;
  font-size: 0.9rem;
  margin-bottom: 5px;
  background: none;
  border: none;
  border-bottom: 1px solid #aaa;
  padding: 0.6rem 0;
  transition: 0.4s;
  color: var(--text-color);
}

#taskForm input:focus,
textarea:focus {
  border: none;
  border-bottom: 1px solid #f5f5f7;
  outline: none; /* Remove o contorno padrão */
}

#taskForm button {
  font-size: 1rem;
  width: 300px;
  height: 40px;
  margin-top: 12px;
  border-radius: 8px;
  border: none;
  background-color: #4908ba;
  color: #fff;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.4s;
}

#taskForm #loadUsers {
  width: 150px;
  height: 20px;
  background-color: var(--background-color);
}

#taskForm button:hover {
  opacity: 1;
}

#userList {
  display: none; /* 🔥 Começa oculto e só aparece quando o botão for clicado */
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 2px;
}

#userList label {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  margin-top: 10px;
  background-color: #f3f3f3;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

#userList label:hover {
  background-color: #ddd;
}

#userList input {
  width: 30px;
}

.user-checkbox {
  width: 18px;
  height: 18px;
  accent-color: #4908ba; /* 🔥 Deixa o checkbox mais estilizado */
}

#userForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#userForm label {
  font-size: 0.9rem;
  color: var(--text-color);
}

#userForm input {
  width: 300px;
  font-size: 0.9rem;
  margin-bottom: 5px;
  background: none;
  border: none;
  border-bottom: 1px solid #aaa;
  padding: 0.6rem 0;
  transition: 0.4s;
  color: var(--text-color);
}

#userForm input:focus {
  border: none;
  border-bottom: 1px solid #f5f5f7;
  outline: none; /* Remove o contorno padrão */
}

#userForm button {
  font-size: 1rem;
  width: 300px;
  height: 40px;
  margin-top: 12px;
  border-radius: 8px;
  border: none;
  background-color: #4908ba;
  color: #fff;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.4s;
}

#userForm button:hover {
  opacity: 1;
}

#role {
  width: 80px;
  height: 30px;
}

